
.menu ul {
    list-style: outside none none;
}
.menu li ul {
    display: none;
    position: absolute;
}
.menu li:hover ul {
    display: block;
    margin: 1em -6.5em;
    position: absolute;
}
.menu li {
}
.menu ul li {
    background: none repeat scroll 0 0 turquoise;
    border-left: 1px solid;
    display: block;
    float: left;
    padding: 1em 4em;
    position: relative;
}
.menu ul li a {
    color: black;
    text-decoration: none;
}
.menu ul li:hover {
    background: none repeat scroll 0 0 paleturquoise;
}
